## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Nikolskoye,RU,76.89,scattered clouds,59.7035,30.7861,Tourist House - Sablino
1,3,Vanimo,PG,75.96,clear sky,-2.6741,141.3028,Vahmoneh Lodge Vanimo
2,5,Nantucket,US,83.25,clear sky,41.2835,-70.0995,Jared Coffin House
3,9,Mersing,MY,78.12,broken clouds,2.4312,103.8405,Timotel Hotel
4,12,Ribeira Grande,PT,79.20,few clouds,38.5167,-28.7000,Quinta da Meia Eira

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    59.7035   30.7861
1    -2.6741  141.3028
2    41.2835  -70.0995
3     2.4312  103.8405
4    38.5167  -28.7000
..       ...       ...
231  32.7941  -79.8626
232  32.6500  -17.0667
233  44.6167   22.2667
234  41.3194   61.0742
235  37.4000  136.9000

[236 rows x 2 columns]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Lata"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Lata"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Constantine"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Ierapetra"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Fethiye"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
124,397,Lata,PT,83.05,clear sky,40.1629,-8.3327,Casa Maquia

In [33]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
vacation_df.to_numpy()[218][5]

36.6217

In [44]:
start = (vacation_df.to_numpy()[124][5],vacation_df.to_numpy()[124][6])
end = (vacation_df.to_numpy()[124][5],vacation_df.to_numpy()[124][6])
stop1 = (vacation_df.to_numpy()[184][5],vacation_df.to_numpy()[184][6])
stop2 = (vacation_df.to_numpy()[112][5],vacation_df.to_numpy()[112][6])
stop3 = (vacation_df.to_numpy()[218][5],vacation_df.to_numpy()[218][6])

In [52]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,397,Lata,PT,83.05,clear sky,40.1629,-8.3327,Casa Maquia
1,540,Constantine,DZ,87.48,overcast clouds,36.3650,6.6147,Grand Hotel Cirta
2,369,Ierapetra,GR,77.18,clear sky,35.0100,25.7353,Cretan Villa Hotel & Apartments in Ierapetra C...
3,649,Fethiye,TR,82.27,clear sky,36.6217,29.1164,Club & Hotel Letoonia

In [57]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  40.1629  -8.3327
1  36.3650   6.6147
2  35.0100  25.7353
3  36.6217  29.1164

In [58]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))